JWT_SECRET="mifthahul_uloom_secure_jwt_secret_key_2026_madrassa"
MADRASSA_NAME="Mifthahul Uloom Higher Secondary Madrassa"
DATABASE_URL="file:./madrassa.db"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
